# Ignore everything by default
*

# First-order allow exception for select directories
# !/.dockerignore
# !/.git
# !/.gitignore
!/CMakeLists.txt
# !/Dockerfile
# !/LICENSE
# !/README.md
!/RGLServerPlugin
!/RGLVisualize
# !/docs
!/lidar_patterns
!/package.xml
# !/test_world
